<div class="main">
  <div class="search">
    <form #form="ngForm" (submit)="search()">
      <input
        type="text"
        placeholder="Search City"
        name="city"
        [(ngModel)]="cityName"
      />
      <button type="submit" (submit)="search()">Search</button>
    </form>
  </div>
  <div class="main-section">
    <div class="container">
      <div class="upper-data">
        <img
          src="../assets/hot-day.jpg"
          alt="Hot weather"
          *ngIf="weatherData.current.is_day && weatherData.current.temp_c >= 24"
        />
        <img
          src="../assets/cold-day.jpg"
          alt="Cold weather"
          *ngIf="weatherData.current.is_day && weatherData.current.temp_c < 24"
        />
        <img
          src="../assets/hot-night.jpg"
          alt="Hot weather"
          *ngIf="
            !weatherData.current.is_day && weatherData.current.temp_c >= 24
          "
        />
        <img
          src="../assets/cold-night.jpg"
          alt="Cold weather"
          *ngIf="!weatherData.current.is_day && weatherData.current.temp_c < 24"
        />

        <div class="weather-data">
          <div class="city-name">{{ weatherData.location.name }}, {{ weatherData.location.country }}</div>
          <div class="temperature">
            {{ weatherData.current.temp_c | number : "1.0-0" }}°C
          </div>
          <div class="weather-condition">
            <img src="{{ weatherData.current.condition.icon }}" alt="" />
            <span>{{ weatherData.current.condition.text }}</span>
          </div>
        </div>
      </div>
      <div class="lower-data">
        <div class="more-info-label">More Information</div>
        <div class="more-info-container">
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/feels.png" alt="" />
              <span>feels like</span>
            </div>
            <div class="info-block-label">
              {{ weatherData.current.feelslike_c | number : "1.0-0" }} °C
            </div>
          </div>
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/humidity.png" alt="" />
              <span>humidity</span>
            </div>
            <div class="info-block-label">
              {{ weatherData.current.humidity | number : "1.0-0" }} %
            </div>
          </div>

          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/wind.png" alt="" />
              <span>wind</span>
            </div>
            <div class="info-block-label">
              {{ weatherData.current.wind_kph }} k/h
            </div>
          </div>
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/pressure.png" alt="" />
              <span>pressure</span>
            </div>
            <div class="info-block-label">
              {{ weatherData.current.pressure_in | number : "1.0-0" }} in
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="forecast" *ngFor="let upcomingWeather of upcomingForecast; let i=index">
        <div class="more-info-label-forecast">{{upcomingWeather.date}} ({{timeToDate(upcomingWeather.date)}})</div>
        <div class="more-info-container-forecast">
          <div class="info-block-forecast">
            <div class="info-block-label">
              <img src="{{upcomingWeather.day.condition.icon}}" alt="" />
              <span>{{upcomingWeather.day.condition.text}}</span>
            </div>
          </div>
          <div class="info-block-forecast">
            <div class="info-block-label">
              <img src="../assets/min.png" alt="" />
              <span>min</span>
            </div>
            <div class="info-block-label">
              {{upcomingWeather.day.mintemp_c}} °C
            </div>
          </div>
          <div class="info-block-forecast">
            <div class="info-block-label">
              <img src="../assets/max.png" alt="" />
              <span>max</span>
            </div>
            <div class="info-block-label">
              {{upcomingWeather.day.maxtemp_c}} °C
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<router-outlet />
